# Environments
.venv/
env/
__pycache__/
*.pyc

# Massive Data Files (DO NOT PUSH TO GITHUB)
dataset/*
!dataset/.gitkeep
output/*
!output/.gitkeep

# Models
*.pkl
.kilo
# IDE / System
.qoder/
.vscode/
.DS_Store
context/*.zip
context/
output_final*
*.pkl echo xgb_model.pkl
*.pkl
xgb_model.pkl
